@model ShopCaPhe.Models.KHACHHANG
@{
    Layout = null;
}
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<head>
    <title>Login SSO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link href="~/Content/util.css" rel="stylesheet" />
    <link href="~/Content/Loginnew.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <style>
        body {
            font-family: 'Roboto';
        }
    </style>
</head>
<script>
    function validateLogin() {
        var x = document.forms["myForm"]["TenDN"].value;
        var y = document.forms["myForm"]["MatKhau"].value;

        if (x == "" || y == "") {   
            alert("Bạn cần nhập tên đăng nhập và mật khẩu");
            return false;
        }
    }
    function disablelogin() {
        document.getElementById("TenDN").disabled = true;
        document.getElementById("MatKhau").disabled = true;
    }

</script>
<style>
    .alert-danger {
        margin-top:3px;
        font-size:12px;
        position: relative;
        padding: .50rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
</style>
<body>
    <form action="/Account/Login" method="post" name="myForm">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                    <span class="login100-form-title p-b-49">
                        Đăng Nhập
                    </span>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">Tên đăng nhập</span>
                        <input class="input100" id="TenDN" type="text" name="TenDN" placeholder="Tên đăng nhập" required>
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">Mật khẩu</span>
                        <input class="input100" id="MatKhau" type="password" name="MatKhau" placeholder="Mật khẩu" required>
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    @if (ViewBag.error != null)
                    {
                    <div class="alert alert-danger" role="alert">
                        Tên đăng nhập hoặc mật khẩu không đúng!
                    </div>
                    }
                    else
                    {

                    }
                    <div class="text-right p-t-8 p-b-31">

                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button onclick="return validateLogin()" class="login100-form-btn">
                                Đăng nhập
                            </button>
                        </div>
                    </div>

                    <div class="txt1 text-center p-t-54 p-b-20" style="padding-top:30px;">
                        <span>
                            Hoặc đăng nhập sử dụng
                        </span>
                    </div>

                    <div class="flex-c-m">
                        <a class="login100-social-item bg1"><img src="~/Images/facebook-icon.png" /></a>


                        <a href="#" class="login100-social-item bg2">
                            <img src="~/Images/twitter-icon.png" />

                        </a>

                        <a href="@Url.Action("SignIn", new { type = "Google" })" class="login100-social-item bg3">
                            <img src="~/Images/google-plus.png" />
                        </a>
                    </div>
                    <a style="text-decoration:none; font-size:15px; float:right" id="emailHelp" class="form-text text-muted" href="@Url.Action("Quenmatkhau","Home")"><small style="color:cornflowerblue;">Quên mật khẩu</small></a>

                </div>
            </div>
        </div>
    </form>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/main.js"></script>
</body>

