@model ShopCaPhe.Models.MailModel
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<fieldset>
    <legend>
        Send Email
    </legend>
    @using (Html.BeginForm("Mail", "Testjqery", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary()
        <p>To: </p>
        <p>@Html.TextBoxFor(model => model.To)</p>
        <p>Subject: </p>
        <p>@Html.TextBoxFor(model => model.Subject)</p>
        <p>Body: </p>
        <p>@Html.TextAreaFor(model => model.Body)</p>
        <input type="submit" value="Send" />

    }
</fieldset>